*{
    font-family: "Google Sans", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f6f8;
}

main {
    flex: 1;
}

.header {
    background-color: white;
    border-bottom: 1px solid #e4e4e4;
}

.header h1 {
    color: #2c3e50;
    margin-bottom: 15px;
}

.header a {
    text-decoration: none;
    color: #333;
}

.header a:hover {
    color: #0d6efd;
}

.btn-agregar {
    background-color: #a1b4ff;
    border: none;
    color: rgb(61, 61, 61);
    text-decoration: none;
}

.btn-agregar:hover {
    background-color: #7f98ff;
    color: white;
}

.btn-modificar {
    background-color: #68a36b;
    border: none;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
}

.btn-modificar:hover {
    background-color: #4c774e;
    color: white;
}

.btn-eliminar {
    background-color: #c92a2a;
    border: none;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
}

.btn-eliminar:hover {
    background-color: #a61e1e;
    color: white;
    transform: scale(1.5px);
}

.card {
    min-height: 390px;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    background-color: white;
}

.card:hover {
    transform: scaleY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
}

.accordion-button {
    background-color: #e3e5e7;
    position: relative;
}

.accordion-button::after {
    background-color: #e3e5e7;
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);
    top: 50%;
}

.accordion-button:focus {
    background-color: #e3e5e7;
    box-shadow: none;
    outline: none;
}

.accordion-item{
    background-color: #e3e5e7;
}